* {
  background-color: rgb(122, 122, 122);
}

#gameBoard {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  width: 40em;
  height: 40em;
}

#gameBoard div {
  height: 12.5%;
  width: 12.5%;
}

.whiteSquare {
  background-color: white;
}

.blackSquare {
  background-color: rgba(48, 39, 39, 0.863);
}
