* {
  background-color: rgb(122, 122, 122);
}

#gameBoard {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  width: 600px;
  height: 600px;
  z-index: 99999;
}

#gameBoard div {
  height: 12.5%;
  width: 12.5%;
}

.whiteSquare {
  background-color: white;
}

.blackSquare {
  background-color: rgba(48, 39, 39, 0.863);
}

img {
  position: relative;
  top: 50%;
  left: 50%;
  width: 60px;
  height: 60px;
  margin-top: -30px;
  margin-left: -30px;
  background-color: transparent;
  pointer-events: none;
}

#whoseTurn {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  width: 1300px;
  height: 1080px;
  left: 600px;
  z-index: 10;
  pointer-events: none;
}

#whoseTurn h2 {
  font-size: 6em;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  top: 15%;
  left: 25%;
  -webkit-text-stroke: 3px black;
}

#whiteCapturedPieces {
  display: flex;
  position: absolute;
  width: 500px;
  height: 500px;
  z-index: 15;
  background: transparent;
  left: 400px;
  top: 328px;
}

#blackCapturedPieces {
  display: flex;
  position: absolute;
  width: 500px;
  height: 500px;
  z-index: 15;
  background: transparent;
  left: 400px;
  top: -225px;
}

#whiteCapturedPieces img {
  padding: 10px;
}

#blackCapturedPieces img {
  padding: 10px;
}
